<div class="row">
  <div class="col-12 py-3 "  >
      <div class="card" >
        <div class="card-body text-center">    
          <div class="text-left">            
            <h1>My Quotes</h1>
            <br/>
          </div>                          
          <table class="table "  >
              <thead class="thead-dark">
                <tr >
                    <th colspan="2">Provider</th>
                    <th>Amount</th>
                    <th>Currency</th>
                    <th>Estimate</th>
                    <th>Servicelevel</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let r of this.quotes">
                  <th><img src="{{r.QuoteRate.Image}}" width="50" class="img-fluid" alt="Responsive image"></th>
                  <td> {{ r.QuoteRate.Provider }}</td>
                  <td>${{ r.QuoteRate.Amount}}</td>
                  <td> {{ r.QuoteRate.Currency}}</td>
                  <td> {{ r.QuoteRate.Estimate }} Days</td>
                  <td> {{ r.QuoteRate.Servicelevel }}</td>
                </tr>
              </tbody>
          </table> 
          
          <button type="button" class="btn btn-primary" (click)="onClickBack()" >Back</button>
        </div>
      </div>
    </div>
  </div>

