
<div class="container-fluid">

    <!-- <nav class="navbar  navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Shipping app</a>
        
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="quote">New Quote</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="myquotes">My Quotes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="myshipments">My Shipments</a>
              </li>            
          </ul>        
        
      </nav> -->

      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
          <img src="assets/img/Shipping-co-logo.png" alt="Shipping Co Logo" width="50" height="50">
          <h5 class="my-0 mr-md-auto font-weight-normal"><a class="navbar-brand" href="#">Shipping Co</a></h5>
          <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" routerLink="quote"> New Quote</a>
            <a class="p-2 text-dark" routerLink="myquotes">My Quotes</a>
            <a class="p-2 text-dark" routerLink="myshipments">My Shipments</a>
            <!--<a class="p-2 text-dark" href="#">Pricing</a> -->
          </nav>
        </div>



</div>




