
<div class="container">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0" href="#">Shipping app</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
          <span class="navbar-toggler-icon"></span>
        </button>       
        
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="quote">New Quote</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="myquotes">My Quotes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="shipment">Shipment</a>
              </li>            
          </ul>        
        
      </nav>

      <br/>
      <br/>

  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
      <a class="navbar-brand" href="#">Shipping app</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample09">
        <!- <ul class="navbar-nav mr-auto">

          <li class="nav-item">
              <a class="nav-link"routerLink="quote">
              Route1 
            </a>
          </li>

          <li class="nav-item">
              <a class="nav-link" routerLink="">
                Route2 
              </a>
            </li>   

        </ul> ->
      </div>
    </nav> -->
</div>




