<div class="row">
    <div class="col-12 "  >
        <div class="text-left" *ngIf="this.shipment.QuoteRate">
            <h3>Rato</h3>
            <table class="table table-borderless" >
                <tbody>
                    <tr>
                            <th>Price </th>
                            <td>${{ this.shipment.QuoteRate.Amount}} &nbsp;{{ this.shipment.QuoteRate.Currency}}</td>
                        </tr>  
                    <tr>
                        <th class="align-middle">Provider</th>
                        <td><img src="{{this.shipment.QuoteRate.Image}}" width="50" class="img-fluid" alt="Responsive image">
                            {{ this.shipment.QuoteRate.Provider }}
                        </td>
                    </tr>   
                    <tr>      
                        <th>Estimate</th>
                        <td> {{ this.shipment.QuoteRate.Estimate }} Days</td>
                    </tr>      
                    <tr>  
                        <th>Servicelevel</th>
                        <td> {{ this.shipment.QuoteRate.Servicelevel }}</td>
                    </tr>
                </tbody>
            </table> 
        </div>                          
    </div>
</div>

<div class="row py-3"  > 
    <div class="col-12"> 
        <div class="alert alert-danger" role="alert" *ngIf="selectQuoteError && user">
                {{ selectQuoteErrorText }}
            </div>    
    </div>
    <div class="col-4">                
    </div>
    <div class="col-2 text-center">                
        <button type="button" class="btn btn-success" (click)="onClickConfirm()" >Confirm</button>
    </div>   
    <div class="col-2 text-center">                
        <button type="button" class="btn btn-info" (click)="onClickSave()" >Save Quote</button>
    </div>  
</div>    